{% extends "base.html" %}
{% load static %}

{% block content %}
    <img src="/static/images/children-reading.jpg" alt="Kids book library" class="hero-img">
    <main>
        <div class="container mb-5 d-flex flex-column">
            <h1>About Us</h1>
            <section>
                <h2 class="mb-3">What matters to us</h2>
                <p>
                     
                </p>  
            </section>
            <section class="mt-4">
                <h2 class="mb-3">What we really offer</h2>
                <p>
                  
                </p>
            </section>
            <section class="mt-4" id="contact-info">
                <h2 class="mb-3">Contact Us</h2>
                <p>
                    Please get in touch with us for any queries regarding your order or general product information. <br>
                    We are also happy to offer advice before or after your purchase with us. If you can't find your questions answered in our 
                    
                </p>
                <div class="row">
                    <div class="col-12 col-md-6 mt-4">
                        <h3 class="text-uppercase">How to reach us:</h3>
                        <address class="fs-4">
                            Kidsbookshelf@yahoo.com<br>
                            London <br>
                            United Kingdon <br>
                            Unit 83 <br>
                            Selelerium road <br>
                            <div class="mt-3"><iconify-icon inline icon="entypo:email"></iconify-icon> kidsbookshelf@yahoo.com</div>
                            <div class="mt-2"><iconify-icon inline icon="ph:phone-light"></iconify-icon></div>
                        </address>
                    </div>
                    <div class="col-12 col-md-6 mt-4">
                        <div id="opening-hours">
                            <h3 class="text-uppercase" aria-label="opening-hours">We are open:</h3>
                            <table class="fs-5">
                                <tr class="lh-lg">
                                    <td class="pe-5">Monday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Tuesday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Wednesday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Thursday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                                <tr class="lh-lg">
                                    <td class="pe-5">Friday</td>
                                    <td>9:00 - 17:00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}