{% extends "base.html" %}
{% load static %}

{% block content %}
    <img src="https://kids-bookshelf.s3.eu-west-2.amazonaws.com/media/cover-image.jpg"  alt="Kid reading on the floor" class="hero-img">
    <main>
        <div class="container mb-5 d-flex flex-column">
            <h1>Welcome to Kids'BookShelf, <br></h1>
            <h2>Your one-stop destination for pre-loved books that ignite young minds!</h2>
            <p>Let's kindle the imagination, inspire learning, and create unforgettable memories through the magic of used books for kids!<br></p>
            
        </div>
        <div><a href="{% url 'categories' %}" class="btn btn-colour-bg fs-3 mt-4 align-self-start">Go To Library</a></div>
    </main>
{% endblock %}