#payment-form {
    width: 60%;
}

#payment-form label {
    /* bootstrap text-muted class color */
    color: #6c757d;
}

.asteriskField {
    color: rgb(82, 179, 235);
    padding-left: .5em;
}

.order-summery {
    float: right;
    width: 35%;
    margin-left: 3em;
}
