{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Book Library</h1>
<p>
    Browse through our large variety of books for kids and children and find what suits your needs.
    Need more information in particular! Try our <a href="{% url 'forum' %}">forum</a>for helpful articles 
    or simply <a href="{% url 'about' %}#contact-info">contact us</a>. We are happy to help!
</p>
<div class="container-fluid">
    <div class="row d-flex justify-content-evenly card-container">
        {% for category in categories %}
            <div class="category-card">
                <a href="{% url 'products' %}?category={{ category.name }}" class="category-link">
                    <img class="category-img" src="{{ category.image.url }}" alt="{{ category.friendly_name }}">
                    <h2 class="category-link-title">{{ category.friendly_name }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}