{% extends "base.html" %}
{% load static %}

{% block content %}
    <a href="{% url 'categories' %}">Back to All Products</a>
    <h1>{{ current_category }}</h1>
    {% if current_category == "Draw books"%}
        <p class="mt-4"></p>
        <p></p>
    {% elif current_category == "Educational" %}
        <p class="mt-4"></p>
        <p></p>
    {% elif current_category == Fiction" %}
        <p class="mt-4">
        <!--<a href="{% url 'forum' %}">forum</a>--></p>
        <p></p>
        <p></p>
    {% endif %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-evenly card-container">
            {% for product in products%}
                <div class="product-card mb-5">
                    <a href="{% url 'product_detail' product.id %}" class="product-link mb-1">
                        {% if product.image %}
                            <img class="product-img" src="{{ product.image }}" alt="{{ product.books }}">
                        {% else %}
                            <img class="product-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.books }}">
                        {% endif %}
                        <h2 class="product-link-title">{{ product.books }}</h2>
                    </a>
                </div>
            {% endfor %}
       </div>
    </div>
{% endblock %}